#canvas {
    width: 100%;
    height: 100vh;
    background: #ccc;
    position: relative;
}

.idea {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: green;
    cursor: move;
}

.description {
    font-size: 10px;
}

#results {
    text-align: center;
}